{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "sbadmin/css/custom_styles.css" %}"/>
{% endblock css %}
{% block titulo %}Editar Autorizacion{% endblock titulo %}
{% block contenido %}
    <form id="form_ncliente" method="post">{% csrf_token %}
        {% block titulo_pagina %}
            <h2 class="page-header">Guardar Datos <button class="btn btn-primary pull-right"><i class="fa fa-floppy-o"></i> Guardar</button></h2>
        {% endblock titulo_pagina %}
        {% include 'parts/controls_autorizaciones.html' %}
    </form>
{% endblock contenido %}