<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Datos Generales</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Autorización SRI <span class="crojo">*</span></label>
                                {{ form.autorizacion_sri }}
                                {{ form.autorizacion_sri.errors }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">N° Establecimiento</label>
                                {{ form.nro_establecimiento }}
                                {{ form.nro_establecimiento.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">N° Emision <span class="crojo">*</span></label>
                                {{ form.nro_emision }}
                                {{ form.nro_emision.errors }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>